healthcare-pipeline/landing/
healthcare-pipeline/**/__pycache__/
healthcare-pipeline/**/*.pyc
healthcare-pipeline/.venv/
healthcare-pipeline/venv/
healthcare-pipeline/.env
healthcare-pipeline/.env.*
__pycache__/
*.py[cod]
.Python
*.egg-info/
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
data/
kafka-data/
schema-registry-data/
python-installer.exe
